<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= article.title%></h5>
      <p class="card-text"><%= article.description%></p>
      <a href="dashboard/readArticle/<%= article._id %>" class="btn btn-primary">read</a>
    </div>
  </div>