<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div class="jumbotron jumbotron-fluid" style="margin-bottom:0">
        <div class="container">
            <img src="https://amiralamianwebsite.ir/images/site-logo.jpg" class="rounded float-left mt-2" alt="site-logo" width="110px" height="110px">
        <h1 class="display-4 ">Reset password</h1>
            <p class="lead"><h5 class="display-5 text-secondary">hey user!</h5><br>
                A password recovery attempt requires further verification. To complete the password recovery enter the verification code in the recovery page input \n
                and hit the send button.    
                Verification code: verificationCode</br></br>
                If you did not attempt to recover your password, it will  expire in 5 minutes.\n
        
                Thanks,</br>
                Amir alamian Articles Team.</p>
        </div>
    </div>
    <footer class="page-footer font-small unique-color-dark" >

        <div style="background-color: #6351ce;">
          <div class="container">
      
            <!-- Grid row-->
            <div class="row py-4 d-flex align-items-center">
      
              <!-- Grid column -->
              <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                <h6 class="mb-0  text-light">Get connected with us on social networks!</h6>
              </div>
              <!-- Grid column -->
      
              <!-- Grid column -->
              <div class="col-md-6 col-lg-7 text-center text-md-right">
      
                <!-- Facebook -->
                <a class="fb-ic">
                  <i class="fab fa-facebook-f white-text mr-4 text-light"> </i>
                </a>
                <!-- Twitter -->
                <a class="tw-ic">
                  <i class="fab fa-twitter white-text mr-4 text-light"> </i>
                </a>
                <!-- Google +-->
                <a class="gplus-ic">
                  <i class="fab fa-google-plus-g white-text mr-4 text-light"> </i>
                </a>
                <!--Linkedin -->
                <a class="li-ic">
                  <i class="fab fa-linkedin-in white-text mr-4 text-light"> </i>
                </a>
                <!--Instagram-->
                <a class="ins-ic">
                  <i class="fab fa-instagram white-text text-light"> </i>
                </a>
      
              </div>
              <!-- Grid column -->
      
            </div>
            <!-- Grid row-->
      
          </div>
        </div>
      
        <!-- Footer Links -->
        <div class="container text-center text-md-left mt-5">
      
          <!-- Grid row -->
          <div class="row mt-3">
      
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
      
              <!-- Content -->
              <h6 class="text-uppercase font-weight-bold text-secondary">Amir Alamian Articles</h6>
              <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p class="text-secondary">Here you can write some articles and read vey useful ones. just join us to use our free website.</p>
      
            </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
           
      
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
      
              <!-- Links -->
              <h6 class="text-uppercase font-weight-bold">Links</h6>
              <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>
                <a class="text-primary" href="amiralamianwebsite.ir/api/signIn">Sign In</a>
                
              </p>
              <p>
                <a class="text-primary" href="amiralamianwebsite.ir/api/signUp">Sign Up</a>
              </p>
              <p>
                <a class="text-primary" href="amiralamianwebsite.ir/api/dashboard">Dashboard</a>
              </p>
              
              <p>
                <a class="text-primary" href="amiralamianwebsite.ir/api">home</a>
              </p>
      
            </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
      
              <!-- Links -->
              <h6 class="text-uppercase font-weight-bold">Contact</h6>
              <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>
                <i class="fas fa-home mr-3"></i> Tehran, Iran</p>
              <p>
                <i class="fas fa-envelope mr-3"></i> amiralamian10@gmail.com</p>
              <p>
                <i class="fas fa-phone mr-3"></i> <a >+98 9214698677</a></p>
              
              
      
            </div>
            <!-- Grid column -->
      
          </div>
          <!-- Grid row -->
      
        </div>
        <!-- Footer Links -->
      
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
          <a class="text-primary" href="https://github.com/amirAlamian"> <img src="amiralamianwebsite.ir/images/site-logo.jpg" class="mb-1" width="10px" height="12.5px"> Amir Alamian</a>
        </div> 
       
      
      </footer>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
          crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>
      <script src="https://kit.fontawesome.com/cee4328049.js" crossorigin="anonymous"></script>
</body>

</html>