<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<% if (lang==="EN") { %>
    <title>Amir Alamian's Read and Write Articles website</title>
<% } %>
<% if (lang==="FA") { %>
 
    <title>   سایت نوشتن وخواندن مقاله امیر عالمیان</title>
<% } %>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />