<% if (theme) { %>
    <nav class="navbar navbar-expand-lg navbar-<%= theme%> bg-<%= theme%>">
<% } %>
<% if (!theme) { %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
<% } %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <span class="navbar-brand">This site</span>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item ">
          <a class="nav-link btn  active" href="/api">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn " href="#">Link</a>
        </li>
      </ul>
      <% if (!user) { %>
        <form class="form-inline my-2 my-lg-0" method="GET" action="/api/signIn">
          <button class="btn  my-2 my-sm-0" type="submit">Sign In</button>
        </form>
        <form class="form-inline my-2 my-lg-0" method="GET" action="/api/signUp">
          <button class="btn my-2 my-sm-0" type="submit">Sign Up</button>
        </form>
      <% } %>
      <% if (user) { %>
        <div class="user-information">
          <a href="/api/logOut" class="text-light user-information-options "> Log&nbsp;out</a>
          <a href="/api/dashboard" class="text-light user-information-options">Dashboard</a>
          <a href="/api/dashboard/userAccount" class="text-light user-information-options">Account</a>

        </div>
       <div class="rounded-circle user">
         <img  class="user-image rounded-circle" src="/images/<%= user.avatar %> " alt="<%= user.userName %>">
       </div>
      <% } %>
     
    </div>
  </nav>