<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/header") %>
</head>

<body>

  <section class="table-holder ">
    <hr>
    <hr>
    <table class="table m-auto table-1">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col" class="text-center table-title ">Title</th>
          <th scope="col" class="text-center table-description">Description</th>
          <th scope="col" class="text-center table-createdAt" >Created at</th>
          <th scope="col" class="text-center">Tools</th>
        </tr>
      </thead>
      <tbody>
        <% for( let index = 0; index < articles.length; index++ ) { %>
          <% if (articles[index].published) { %>
            <%- include("../partials/rows",{article:articles[index],index:index})  %> 
          <% } %> 
          
        <% } %>
      </tbody>
    </table>
    <hr>
    <hr>
    <table class="table m-auto table-2">
      <thead class="thead-light">
        <tr>
          <th scope="col table-title">#</th>
          <th scope="col" class="text-center table-title ">Title</th>
          <th scope="col" class="text-center table-description">Description</th>
          <th scope="col" class="text-center table-createdAt">Created at</th>
          <th scope="col" class="text-center">Tools</th>
        </tr>
      </thead>
      <tbody>
        <% for( let index = 0; index < articles.length; index++ ) { %>
          <% if (!articles[index].published) { %>
            <%- include("../partials/rows",{article:articles[index],index:index})  %> 
          <% } %> 
          
        <% } %>
      </tbody>
    </table>
  </section>



  <%- include("../partials/scripts") %>
  <script src="/javascripts/admin.js"></script>
</body>

</html>