<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/header") %>
</head>

<body>

  <section class="table-holder ">
    <hr>
    <hr>
    <div class="w-100 d-flex align-items-center justify-content-start flex-wrap p-3 sort">
      <h5 class="w-100">Sort by:</h5>
      <span class="sort-title"> Create Date</span>
      <div class="rounded-circle sort-options selected" data-sort="date"></div>
      <span class="sort-title"> View</span>
      <div class="rounded-circle sort-options " data-sort="view"></div>
    </div>
    <hr>
    <div class="table-cover">
      <table class="table table-1 m-auto ">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col" class="text-center table-title ">Title</th>
            <th scope="col" class="text-center table-description">Description</th>
            <th scope="col" class="text-center table-createdAt">Created at</th>
            <th scope="col" class="text-center">Tools</th>
          </tr>
        </thead>
        <tbody>
          <% let counter=0%>
          <% for( let index = 0; index < articles.length; index++ ) { %>
          <% if (articles[index].published) { %>
          <%- include("../partials/rows",{article:articles[index],index:counter})  %>
          <% counter++ %>
          <% } %>

          <% } %>
        </tbody>
      </table>
    </div>

    <hr>
    <hr>
    <div class="table-cover">
      <table class="table table-2 m-auto ">
        <thead class="thead-light">
          <tr>
            <th scope="col table-title">#</th>
            <th scope="col" class="text-center table-title ">Title</th>
            <th scope="col" class="text-center table-description">Description</th>
            <th scope="col" class="text-center table-createdAt">Created at</th>
            <th scope="col" class="text-center">Tools</th>
          </tr>
        </thead>
        <tbody>
          <% counter=0 %>
          <% for( let index = 0; index < articles.length; index++ ) { %>
          <% if (!articles[index].published) { %>
          <%- include("../partials/rows",{article:articles[index],index:counter})  %>
          <% counter++ %>
          <% } %>

          <% } %>
        </tbody>
      </table>
    </div>

  </section>



  <%- include("../partials/scripts") %>
  <script src="/javascripts/admin.js"></script>
</body>

</html>