<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/header") %>
</head>

<body>
 
    <hr>
    <hr>

    <section class="table-holder">
        <div class="alert m-auto hide " role="alert">
        </div>
        <table class="table w-75 m-auto article-table" data-published="<%= published %>">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" class="text-center table-title ">Title</th>
                    <th scope="col" class="text-center table-description">Description</th>
                    <th scope="col" class="text-center table-createdAt">Created at</th>
                    <th scope="col" class="text-center">Tools</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

    </section>




    <div class="modal" tabindex="-1" role="dialog" id="editModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit company informations</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" role="alert">
                        please fill all of inputs
                    </div>
                    <div class="alert alert-success" role="alert">
                        company updated successfully
                    </div>
                    Name: <input type="text" class="editInput">
                    Registration code:<input type="text" class="editInput">
                    City: <input type="text" class="editInput">
                    State: <input type="text" class="editInput">
                    Phone number: <input type="text" class="editInput">
                    Registration date:<input type="text" class="editInput">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary savebtn2">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>





    <div class="modal fade" id="showMoreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="companyDetails"></p>
                    <hr>
                    <p class="companyDetails"></p>
                    <hr>
                    <p class="companyDetails"></p>
                    <hr>
                    <p class="companyDetails"></p>
                    <hr>
                    <p class="companyDetails"></p>
                    <hr>
                    <p class="companyDetails"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>

<%- include("../partials/scripts") %>
<script src="/javascripts/client2.js"></script>

</html>