<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/header") %>
</head>
<body>
    <span id="passage-holder" data-article="<%= article.body %> "></span>
    <section id="passage"></section>
   

    <%- include("../partials/scripts") %>
    <script src="/javascripts/article.js"></script>
</body>
</html>